Subject: Order Confirmation

<p>Dear $customerName,</p>

<p>Thank you for your recent order. Here are the details:</p>
<p>
Order ID: $orderId <br/>
Date: $orderDate <br/>
</p>

<p>Items:</p>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    #foreach ($item in $orderItems)
    <tr>
      <td>$item.name</td>
      <td>$item.price</td>
    </tr>
    #end
  </tbody>
</table>

Total: <span>$totalAmount</span>

<p>Please let us know if you have any questions.</p>

<p>Best regards,<br/>
Schwarz IT KG</p>